<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.option.title}}</title>
</head>
<body>
  {{> "./src/templates/map.hbs"}}
  {{> "./src/templates/formTemplate.hbs"}}
</body>
</html>
